.date-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 1rem;

  .month-carousel {
    display: flex;
    align-items: center;
    width: 90%;

    svg {
      flex-grow: 1;
      cursor: pointer;
    }

    .react-datepicker__input-container {
      display: flex;
      align-items: center;

      svg {
        fill: var(--secondary);
        position: relative !important;
      }
    }

    input {
      border: none;
      padding: 0;
      cursor: pointer;
      caret-color: transparent;
      width: 100px;
      text-align: center;
    }
  }

  .week-carousel {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 1rem;

    .day {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40px;
      padding: 0.5rem;
      border-radius: 0.5rem;
      cursor: pointer;

      .week-day {
        margin: 0;
        color: grey;
      }

      .day-number {
        font-weight: bold;
        margin: 0.3rem 0;
      }

      .dot {
        aspect-ratio: 1/1;
        height: 5px;
        background-color: var(--secondary);
        border-radius: 50px;
      }
      .no-dot {
        height: 5px;
      }

      &.today {
        .day-number {
          color: var(--secondary);
        }
      }
      &.active {
        background-color: var(--secondary);

        .day-number,
        .week-day {
          color: black;
        }
        .dot {
          background-color: black;
        }
      }
    }
  }
}

.react-datepicker__day--highlighted {
  background-color: transparent;
  color: black;
  position: relative;
}
.react-datepicker__day--highlighted::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);

  width: 5px;
  height: 5px;
  background-color: var(--secondary);
  border-radius: 50%;
}

.react-datepicker {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
}
.react-datepicker__header {
  background-color: var(--bg);
  border: none;
  padding: 1rem;
}
.react-datepicker__navigation {
  top: 1rem;

  &.react-datepicker__navigation--previous {
    left: 10px !important;
  }

  &.react-datepicker__navigation--next {
    right: 10px !important;
  }

  &:hover {
    border: 1px solid var(--secondary);
    border-radius: 5px;
  }
}

.react-datepicker__current-month {
  color: white;
}
.react-datepicker__day {
  color: white;
  line-height: 2.6em;
  border: 1px solid transparent;

  &.react-datepicker__day--selected {
    border-color: var(--secondary);
    background-color: transparent;
  }
  &.react-datepicker__day--outside-month,
  .react-datepicker__day-name {
    opacity: 0.4;
  }
  &.react-datepicker__day--today {
    color: var(--secondary) !important;
  }
  &.react-datepicker__day--keyboard-selected {
    background-color: var(--primary);
  }

  &:hover {
    background-color: var(--secondary) !important;
    color: black !important;
  }
}
