* {
  color: var(--text);
  font-family: sans-serif;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0.5rem 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 500px;
}

.task-container {
  background-color: var(--primary);
  padding: 2rem;
  border-radius: 1rem;
  border: 2px dashed var(--secondary);
}

.task-completed-text {
  color: grey;
}

.bar-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  margin-top: 2rem;

  span {
    color: var(--text);
    font-size: 1.4rem;
  }
}

.bar {
  background-color: #ea7c6932;
  height: 1rem;
  border-radius: 50px;

  div {
    background-color: var(--secondary);
    height: 1rem;
    border-radius: 50px;
  }
}

.add-task-container {
  display: flex;
  gap: 0.5rem;

  input {
    flex-grow: 1;
    padding: 1rem;
    border: 1px solid grey;
    background-color: var(--primary);
    border-radius: 0.5rem;
  }

  button {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    width: 50px;
    height: 50px;
  }
}

.task-state {
  background-color: var(--primary);
  display: flex;
  border-radius: 1rem;

  button {
    background-color: transparent;
    border: none;
    flex-grow: 1;
    padding: 0.5rem;
    margin: 0.3rem;
    border-radius: 0.7rem;
    cursor: pointer;
    color: grey;
    font-weight: bold;
  }

  .active-tab {
    background-color: var(--bg);
    color: var(--text);
  }

  :first-child {
    margin-right: 0;
  }

  :last-child {
    margin-left: 0;
  }
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid transparent;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--primary);
  margin-top: 1rem;
}

.added-date {
  display: flex;
  gap: 0.5rem;
  opacity: 0.5;
}

.done-task {
  border: 2px solid var(--secondary);
  background-color: #ea7c6932;
  aspect-ratio: 1/1;
  height: 50px;
  color: var(--secondary);
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
}
